body {
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: center;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#foto {
    border-radius: 50%;
    float: left;
    margin-left: 150px;
    padding: 2px;
    background-color: rgb(31, 31, 31);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.226);
}
#desc {
    font-family: monospace;
    margin-top: 80px;
    max-width: 960px;
}
#centralizarFotoDesc {
    margin-left: 40px;
}
#listaIndice {
    margin-top: 120px;
}
.destacarItensDesc {
    font-style: italic;
}
#nomelista {
    font-size: 20px;
}
.elemento1 {
    font-size: 14px;
    font-style: italic;
}
.elemento2 {
    font-size: 17px;
}
.elemento3 {
    font-size: 19px;
    font-style: italic;
}
.button {
    background-color:white;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(49, 49, 49);
}